@import "../../styles/variables.module.scss";

.position {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 30%;
    height: 70%;
    opacity: 0.6;
  }
  .lines {
    stroke: $white;
  }
  .numbers {
    stroke: $white;
  }
  .side {
    stroke: $white;
  }
}
